<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-primary vh-100" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">Haulmer</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" [formGroup]="form">
        <select class="form-select my-2" formControlName="workspaceId">
            <option [value]="workspace.workspaceId" *ngFor="let workspace of workspaceList">{{workspace.workspaceName}}</option>
        </select>

        <select class="form-select my-2" formControlName="serviceId">
            <option [value]="service.id" *ngFor="let service of serviceList">{{service.serviceName}}</option>
        </select>

        <!--<pre>{{form.value | json }}</pre>-->
        <li class="nav-item">
            <a [routerLink]="['home']" routerLinkActive="active" class="nav-link" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home" />
                </svg>
                Inicio
            </a>
        </li>
        <li *ngxPermissionsExcept="[ROLES.GUEST]">
            <a [routerLink]="['users']" routerLinkActive="active" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2" />
                </svg>
                Usuarios
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <div class="d-flex flex-row align-items-center">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/ecreyes.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Edu</strong>
            </a>
            <span class="badge rounded-pill bg-danger mx-2">{{roleText$ | async}}</span>
        </div>
    </div>
</div>